<a href="https://colab.research.google.com/github/Siesta-cpr/s1esta/blob/main/%D0%9E%D1%81%D0%B5%D0%BD%D0%BD%D0%B8%D0%B9_%D0%98%D0%BB%D1%8C%D1%8F_%D0%AD%D0%A4%D0%91%D0%9E_13_25.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Задача 3.1
Дано: X10 = 101010_2. Найти X10.
Решение:0 + 1*2 + 0 + 1*8 + 0 + 1*36

Ответ:42

Задача 3.2
Дано: X10 = 563_8. Найти X10.
Решение: 5*64 + 6*8 + 3
Ответ:371

Задача 3.3
Дано: X10 = A1286_12. Найти X10.
Решение: 10*20736 + 1*1728 + 2*144 + 8*12 +6
Ответ:209478

Задача 3.4
Сколько единиц в двоичной записи числа 127?
Решение: 100000000 - 00000001 = 1111111
Ответ:7

Задача 3.1
Дано: 367_10 = X7. Найти X.
Решение:367 делим на 7, частное 52, остаток 3
52 делим на 7, частное 7, остаток 3
7 делим на 7, частное 1,остаток 0
1 делим на 7, остаток 1
Ответ:1033

Задача 3.2
Дано: 1143_10 = X12. Найти X.
Решение:1143 делим на 12, частное 95, остаток 3
95 делим на 12, частное 7, остаток 11(B)
7 делим на 12, частное 0,остаток 7

Ответ:7B3

Задача 3.3
Дано: 127_8 = X9. Найти X.
Решение:127 делим на 9, частное 14, остаток 1
14 делим на 9, частное 1, остаток 5
5 делим на 9, частное 0,остаток 5
Ответ:116

Задача 3.4
Дано: AB4_13 = X6. Найти X.
Решение:10*169+11*13+4=1837_10
1837 делим на 6, частное 306, остаток 1
306 делим на 6, частное 51, остаток 0
51 делим на 6, частное 8,остаток 3
8 делим на 6, частное 1, остаток 2
1 делим на 6, частное 0б остаток 1
Ответ:12301

  Задача 3.1
  Дано: 1010011101_2 = X16.
  Найти X.
  Решение:
	1) 10. 1001. 1101
  2) 0010.1001.1101
  3) 2 9 D
  4) 10100111012= 29D16

  Ответ:29D

  Задача 3.2
  Дано: 1147453_8 = X2. Найти X.
  Решение:
  1 = 0012
  1 = 0012
  4 = 1002
  7 = 1112
  4 = 1002
  5 = 1012
  3 = 0112
  Ответ:1001100111100101011

  Задача 3.3
  Дано: 127_8 = X16. Найти X.
  Решение:
  001.010.111
  001010111
  1010111

  0101. 0111
  5. 7
  1278= 57_16
  Ответ:57


  Задача 3.4
  Сколько значащих нулей в двоичной записи шестнадцатеричного числа C3E1_16?
  Решение:
  1100.0011.1110.0001
  1100001111100001

  C3E1_16= 1100001111100001_2

  Ответ:8

  Задача 3.5
  Дано: AF38_32 = X_16 = X_8 = X_2. Найти X.
  Решение:
  AF38
  X2 = 01010.01111.00011.00100
  001.010.011.110.001.100.100
  X8 = 1236144
  0101.0011.1100.0110.0100
  X16 = 53C64

  Ответ:53C64123614401010.01111.00011.00100

  Задача 3.6
  Некоторое число X из десятичной системы счисления перевели в системы счисления с основаниями 16, 8, 4, 2. Часть символов при записи утеряна. Позиции утерянных символов обозначены знаком *
  X = E*16 = *5*8 = ***14 = *****1**2
  Определите число X.

  Решение:
  При а=5, Х=229
  При а=9, Х=233
  При а=13, Х=237
  Х=*****1**2,  число 233 нам не подходит, a 229 и 237 подходят.
  Х=*5*8, при переведении Х в восьмеричную систему второй бит должен принять значение 5.
  Х=229_10=345_8
  Х=237_10=355_8
  Ответ:237

ТЕСТ
1)A
2)C
3)D
4)B
5)C
6)A
7)B
8)6,9,12,18,36
9)5
10)81

задача
На вход программа получает две величины: n, A, где n – натуральное числа от 2 до 36, основание системы счисления, A – число, записанное в системе счисления с основанием n, A < 231.
Необходимо вывести значение A в системе счисления с основанием десять. В задаче подразумевается корректный ввод (т.е. в числе A отсутствуют цифры большие или равные n).

In [2]:
n = int(input())
A = str(input())
print(int(A,n))

12
25
29

Напечатать модуль введенного числа

In [5]:
x = int(input('Введите х: '))
if x < 0:
  x = abs(x)
print(x)

Введите х: -78
78

Ввести два числа и определить четверть координатной плоскости

In [7]:
x = int(input())
y = int(input())
if x > 0 and y > 0:
    print("Перваячетверть")
elif x > 0 and y < 0:
  print("Четвертая четверть")
elif y > 0:
  print("Вторая четверть")
else:
  print("Третья четверть")

12
14
Перваячетверть

Задача 3.1
Дано двузначное число. Определить входит ли в него цифра 3. (// - операция получения целой части от деления, % - операция взятия остатка от целочисленного деления).

In [9]:
n = input()
print(["Не входит", "Входит"][n.count("3") > 0])

43
Входит


Задача 3.2
Дано двузначное число. Определить какая из его цифр больше.

In [12]:
n = int(input())
max_n = 0
while n > 0:
    max_n = max(max_n, n % 10)
    n //= 10

print(max_n)

659
9

задание 3.1
Дано целое число, не меньшее 2. Выведите его наименьший натуральный делитель, отличный от 1.

In [16]:
n = int(input())
i = 2
while n % i != 0:
    i += 1

print(i)

3
3

задание 3.2
Посчитать сумму числового ряда от 1 до N включительно (т.е. 0+1+2+3+…+ N). Решите задачу с помощью и без помощи оператора цикла. Число N вводится с клавиатуры (N< 1000).

In [17]:
n = int(input())
print((1 + n) * n / 2)

i = 1
k = 0
while i <= n:
    k += i
    i += 1
print(k)

3
6.0
6